.you-alert-box {
    background-color: pink;
    color: #c80678;

}

.bot-alert-box {
    background-color: pink;
    color: #c80678;

}

.option-button {
    background-color: #c80678;
    border-color: white;
    border-bottom-color: white;
}